<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/admin.css" th:href="@{/css/admin.css}">
  <link type="png" sizes="32x32" rel="icon"
    href="https://lh3.googleusercontent.com/a/ACg8ocJq9wVRTMQaBGhOzSAkpqNfFOBkn7f398iktNR4gVTLteTXhNU=s288-c-no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>Administrador</title>

</head>
<style>

</style>

<body>
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <img src="https://lh3.googleusercontent.com/a/ACg8ocJq9wVRTMQaBGhOzSAkpqNfFOBkn7f398iktNR4gVTLteTXhNU=s288-c-no"
      alt="Logo WikiPlant" width="50" height="50" style="margin-right: 15px;">

    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/administrador/index}">Inicio Administrador</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn my-2 my-sm-0" th:href="@{/}">
            <button class="Btn">
              <div class="sign">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                  </path>
                </svg>
              </div>
              <div class="text">Logout</div>
            </button>
          </a>
        </li>
      </ul>
    </div>

  </nav>


  <div id="layoutSidenav">

    <div id="layoutSidenav_nav">



      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading"></div>
            <a class="nav-link" th:href="@{/administrador/index}">
              <div class="sb-nav-link-icon"><i class="fa-solid fa-bars"></i></div>
              Menu
            </a>



            <div class="sb-sidenav-menu-heading">Gestiones</div>
            <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
              aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fa-solid fa-lightbulb"></i></div>
              Gestión de Clientes
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" th:href="@{/administrador/cliente/crear}">Agregar Cliente</a>
              </nav>
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" th:href="@{/administrador/lista}">Listar Clientes</a>
              </nav>
            </div>


            <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePages"
              aria-expanded="false" aria-controls="collapsePages">
              <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
              Gestión de  Plantas
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
         
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" th:href="@{/administrador/planta/crear}">Agregar Planta</a>
              </nav>
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" th:href="@{/administrador/planta/lista}">Listar Plantas</a>
              </nav>
              
            </div>


          

          

            <div class="sb-sidenav-menu-heading">Salir</div>
            <a class="nav-link" th:href="@{/administrador/login}">
              <div class="sb-nav-link-icon"><i class="fa-solid fa-share-from-square"></i></div>
              Cerrar Sesión
            </a>
          </div>
        </div>
        <div class="sb-sidenav-footer">
          <div class="small">Sesión: </div>
          Administrador  <span th:text="${usuario}"></span> WikiPlant
        </div>
      </nav>
    </div>



    <div id="layoutSidenav_content">
      <main>
        <p></p>
        <div class="title bg-black text-center">
          <h1> Bienvenido Administrador <span th:text="${usuario}"></span></h1>
        </div>

        <p></p>



        <!-- Gestión de Clientes -->
        <div class="container mb-4">
          <div class="p-2"
            style="background-color: rgba(255, 255, 255, 0.8); border-radius: 8px; border: 1px solid #ddd;">
            <button class="btn btn-link text-decoration-none" data-bs-toggle="collapse"
              data-bs-target="#gestionClientes" aria-expanded="false" aria-controls="gestionClientes"
              style="color: black;">
              <h5 class="m-0">Gestión de Clientes<i class="bi bi-chevron-down"></i></h5>
            </button>
          </div>
          <p></p>
          <div id="gestionClientes" class="collapse">
            <div class="row">
              <div class="col-xl-3 col-md-6">
                <div class="card bg-secondary text-white mb-4">
                  <div class="card-body">Agregar Cliente</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <a th:href="@{/administrador/cliente/crear}">
                      <i class="bi bi-person-add" style="font-size: 40px; "></i>
                    </a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card bg-secondary text-white mb-4">
                  <div class="card-body">Listar Clientes</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <a th:href="@{/administrador/lista}">
                      <i class="bi bi-file-earmark-text-fill" style="font-size: 40px;"></i>
                    </a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Gestión de Cultivos y Plantas -->
        <div class="container mb-4">
          <div class="p-2"
            style="background-color: rgba(255, 255, 255, 0.8); border-radius: 8px; border: 1px solid #ddd;">
            <button class="btn btn-link text-decoration-none" data-bs-toggle="collapse"
              data-bs-target="#gestionCultivosPlantas" aria-expanded="false" aria-controls="gestionCultivosPlantas"
              style="color: black;">
              <h5 class="m-0">Gestión Plantas<i class="bi bi-chevron-down"></i></h5>
            </button>
          </div>
          <p></p>
          <div id="gestionCultivosPlantas" class="collapse">
            <div class="row">
             
              <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                  <div class="card-body">Agregar Planta</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <a th:href="@{/administrador/planta/crear}">
                      <i class="bi bi-flower1" style="font-size: 40px;"></i>
                    </a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                  <div class="card-body">Listar Plantas</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <a th:href="@{/administrador/planta/lista}">
                      <i class="bi bi-flower1" style="font-size: 40px;"></i>
                    </a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

      
      
    </div>
  </div>
  </main>
  <footer class="bg-dark text-white">
    <div class="container-fluid p-6">
      <div class="row">
        <div class="col text-center">
          <p>&copy; 2024 WikiPlant. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="assets/demo/chart-area-demo.js"></script>
  <script src="assets/demo/chart-bar-demo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
    crossorigin="anonymous"></script>
  <script src="js/datatables-simple-demo.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/5hb5mr+W3bQwPy5I7CqUghU5bF9hQ1yWnqouW3s"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz4fnFO9gyb9h60cI7RjZgX8lF8T2m5Q8/ZrWwM5Wh5XJlZIn8V30bX5Mk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-4tN1W5JhMjI9T55brShtS67HiUum7tpEKwqe2w9Xjh9AkRYpc2YJ4Yjx6pXoNnSv"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+FvYB7E3x3EG7O3lNlgufQfWfbA6" crossorigin="anonymous"></script>


</body>

</html>